.progressbar{
    width: 100vw;
    height: 10px;
    background: lightgray;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    .bar{
        width: calc(100% / 8);
        background: blue;
        height: 10px;
    }
}