.anchors{
    position: relative;
  .ibm-alternate-background{
    min-height: 410px;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: left; 
    background-color: #171717;
  }
    #section-1{
      position: relative;
    }
}
