ul.ibm-plain-list.stickynav.ibm-bold
 li.active
    a.ibm-textcolor-default(href="#section-1") Required Knowledge 01
 li 
    a.ibm-textcolor-default(href="#section-2") What is our plan? 02
 li
    a.ibm-textcolor-default(href="#section-3") Why IBM? 03
 li
    a.ibm-textcolor-default(href="#section-4") Find out what happened 04
 li
    a.ibm-textcolor-default(href="#section-5") Why did it happen? 05
 li
    a.ibm-textcolor-default(href="#section-6") What will happen next? 06	
 li
    a.ibm-textcolor-default(href="#section-7") What should we do? 07
 li
    a.ibm-textcolor-default(href="#section-8") Conclusion 08